[Unit]
Description=HuntHarvest v2
After=network.target mysql.service

[Service]
User=root
WorkingDirectory=/var/www/huntorharvest
EnvironmentFile=/var/www/huntorharvest/.env
ExecStart=/var/www/huntorharvest/venv/bin/uvicorn app:app --host 127.0.0.1 --port 8002
Restart=always

[Install]
WantedBy=multi-user.target
